a {
  text-decoration: none;
  color: black;
}

.pokemon-card {
  border-color: black;
  border-style: double;
  border-width: 5px;
  width: 350px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.row {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  width: 80px;
  font-family: "PokemonGB";
  background-color: crimson;
  padding: 10px 0 5px 0;
  border: double;
  color: white;
}

.filler {
  width: 60px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card:hover {
  animation: wobble 0.3s;
  transform: scale(1.1);
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg) scale(1.025);
  }
  50% {
    transform: rotate(-10deg) scale(1.05);
  }
  75% {
    transform: rotate(5deg) scale(1.075);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
