<a [routerLink]="[id, 'details']">
  <div class="pokemon-card">
    <div *ngIf="!loading && !errorMessage">
      <div class="row">
        <div class="filler"></div>
        <p>{{ capitalizeFirstLetter(pokemon.name) }}</p>
        <button onclick="catchPokemon()">Catch</button>
      </div>
      <img [src]="pokemon.sprite" alt="" />
      <p>Id : {{ pokemon.id }}</p>
      <p>Weight : {{ poundsToKilograms(pokemon.weight) }} kg</p>
      <p>Height : {{ decimeterToCentimeter(pokemon.height) }} cm</p>
    </div>
    <div *ngIf="loading">
      <p>Loading ...</p>
      <img src="assets/loader.svg" />
    </div>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</a>
